# Unit test / coverage reports
.coverage
.coverage.*
all_coverage.txt
htmlcov
.tox
.cache
selenium-debug.log
test/unit/coverage
test/e2e/reports

# Sphinx
docs/_build

# Virtualenv
python_env/

# 12 Factor configuration.
.env

# collect static output directory
dist/

# node
node_modules/
npm-debug.log

# Test screenshots.
failed_*.html
failed_*.png
